include CHANGELOG.md
include LICENSE.md
include pystart/licenses/APACHEv2-LICENSE.md
include pystart/licenses/BSD2CLAUSE-LICENSE.md
include pystart/licenses/BSD3CLAUSE-LICENSE.md
include pystart/licenses/GG-GPL-LICENSE.md
include pystart/licenses/GPLv2-LICENSE.md
include pystart/licenses/GPLv3-LICENSE.md
include pystart/licenses/ISC-LICENSE.md
include pystart/licenses/MIT-LICENSE.md
include pystart/licenses/UNLICENSE-LICENSE.md
include pystart/licenses/ZLIB-LICENSE.md
include README.md
